    .footer_wrapper {
        width: 100vw;
        background: #0F172A;
        color: #0F172A;
        display: flex;
        justify-content: center;

        .footer_content {
            font-size: 12px;
            display: flex;
            justify-content: center;

        
        }
    }