

#header {
     @include position-fixed;
     z-index: 1000;
     
}

.header_wrapper {
    @include flex-between;
    background-color: #1e293b;
    color: #F5F5F5;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.05);
    

    

    .header_logo {
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;
        margin: 1%;
        font-family: "GmarketSansMedium";
    }

    .header_nav {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            gap: 16px;

        }
        li button{
            background: transparent;
            text-transform: uppercase;
            border: none;
            color: #F5F5F5;
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 1rem;
            padding: 8px 16px;
            cursor: pointer;
            transition: background-color 0.25s ease, color 0.25s ease;
            outline: none;
        }
        button:hover {
            color: #A9AABC;
        }
    }
    a {
        text-decoration-line: none;
        color: #F5F5F5;
    }

}

section:first-of-type {
    margin-top: 60px;
}
