.skillSection {
    color: #0F172A;
    text-align: center;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 16px;
    max-width: 1280px;
    margin: 0 auto;

    .section_title {
        color: #0F172A;
        font-size: 2.5rem;
    }

    .section_subtitle {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }

    .category_tabs {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;

        .tab {
            background: #0F172A;
            border: none;
            padding: 10px 20px;
            border-radius: 15px;
            color: #F1F1E6;
            cursor: pointer;
            font-size: 14px;
            transition: 0.3s ease-in-out;

            &.active {
                background: #a9aabc;
                color: #0F172A;
                font-weight: bold;
            }

            &:hover {
                background: #444655;
            }

        }
    }

    .skill_grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
        gap: 35px;
        max-width: 1000px;
        margin: auto;
        padding: 20px;

        .skill_card {
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: opacity 0.3s ease, transform 0.3s ease;
            width: auto;
            position: relative;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 80px;
                height: 80px;
            }
            
        }
        
        .skill_card.dimmed {
            opacity: 0.1;
            pointer-events: none;
            position: relative;
        }
    
        .skill_card.visible {
            opacity: 1;
            pointer-events: auto;
            position: relative;
        }
        
    }
}