// position
@mixin position-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}


// display
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


// color
@mixin backgroundcc {
    background-color: #2d333b;
}

@mixin sectioncc {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    background: #0f172a;

}