// position
@mixin position-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}


// display
@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}